.header-wrapper {
    height: 104;
    background-color: #23B2A4;
    z-index: 999;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo {
    max-height: 37px;
    vertical-align: middle;
}
img {
    border-style: none;
}
.header {
    padding: 0;
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    height: 7.4vh;
}
.user-avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    vertical-align: middle;
}
.button-avatar {
    background: none;
    border: 0;
    cursor: pointer;
}
.button-ticket {
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    background: #333333;
    height: 30px;
    width: 125px;
    outline: none;
    color: white;
    font-size: 12px;
    margin-right: 2rem;
    font-family: 'montserrat-medium',sans-serif;
}

.button-ticket:hover {
    transform: translateY(2px);
    transform-style: preserve-3d;
    transition: .5s;
    cursor: pointer;
}

.button-logo {
    background: none;
    border: 0;
    cursor: pointer;
}